:root {
    --first-color: #4a90e2;
    --second-color: red;
    --title-color: black;
    --text-color: rgb(110, 110, 110);
    --body-color: purple;

    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --normal-font-size: 1rem;
    --font-medium: 500;
    --font-semi-bold: 600;

}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login__content,
.login__form,
.login__inputs {
    display: grid;
}

.login__content {
    position: relative;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.login__form {
    position: relative;
    background-color: hsla(244, 16%, 92%, .6);
    border: 2px solid hsla(244, 16%, 92%, .75);
    margin-inline: 1.5rem;
    row-gap: 1.25rem;
    backdrop-filter: blur(20px);
    padding: 2rem;
    border-radius: 1rem;
}

.login__title {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.login__title span {
    color: var(--first-color);
}

.login__description {
    font-size: var(--small-font-size);
}

.login__inputs {
    row-gap: .75rem;
    margin-bottom: .5rem;
}

.login__label {
    display: block;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.login__input {
    width: 100%;
    padding: 14px 12px;
    border-radius: 6px;
    border: 2px solid var(--text-color);
    background-color: hsla(244, 16%, 92%, .6);
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    transition: border .4s;
}

.login__input::placeholder {
    color: var(--text-color);
}

.login__input:focus,
.login__input:valid {
    border: 2px solid var(--first-color);
}

.login__box {
    position: relative;
}

.login__box .login__inputs {
    padding-right: 36px;
}

.login__check {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.roles_radio {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    align-items: center;
    margin-bottom: .5rem;
}

.role_radio {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.login__check-input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid var(--text-color);
    background-color: hsla(244, 16%, 92%, .2);
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__check-input:checked::before {
    content: '✔️';
    display: block;
    color: #ffff;
    font-size: .75rem;
    transform: translate(1.5px, -2.5px);
}

.login__check-label {
    font-size: var(--small-font-size);
}

.login__buttons {
    display: flex;
    column-gap: .75rem;
}

.login__button {
    width: 100%;
    padding: 14px 2rem;
    border-radius: 6px;
    background: hsla(244, 16%, 92%, .6);
    border: 2px solid var(--first-color);
    color: var(--first-color);
    box-shadow: none;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
    cursor: pointer;

}

.login__button-ghost {
    background: hsla(244, 16%, 92%, .6);
    border: 2.5px solid var(--first-color);
    color: var(--first-color);
    box-shadow: none;
}

.login__forgot {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    color: blue;
    text-decoration: none;
}

/* Telefoni */
@media screen and (max-width: 360px) {
    .login__buttons {
        flex-direction: column;
    }
}

/* Tablet */
@media screen and (min-width: 576px) {
    .login__form {
        width: 450px;
        justify-self: center;
    }
}

/* Schermi */
@media screen and (min-width: 1064px) {
    .container {
        height: 100vh;
        display: grid;
        place-items: center;
    }

    .login__content {
        width: 1024px;
        height: 600px;
    }

    .login__img {
        border-radius: 3.5rem;
        box-shadow: 0 24px 48px hsla(244, 75%, 36%, .45);
    }

    .login__form {
        justify-self: flex-end;
        margin-right: 4.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .login__content {
        height: 700px;
    }

    .login__form {
        row-gap: 2rem;
        padding: 3rem;
        border-radius: 1.25rem;
        border: 2.5px solid hsla(244, 16%, 92%, .75);
    }

    .login__description,
    .login__label,
    .login__button-ghost {
        font-size: var(--normal-font-size);
    }

    .login__inputs {
        row-gap: 1.25rem;
        margin-bottom: .75rem;
    }

    .login__input {
        border: 2.5px solid var(--text-color);
        padding: 1rem;
        font-size: var(--smaller-font-size);
    }

    .login__input:focus,
    .login__input:valid {
        border: 2.5px solid var(--first-color);
    }

    .login__button {
        padding-block: 1rem;
        margin-bottom: 1.25rem;
    }

    .login__button-ghost {
        border: 2.5px solid var(--first-color);
    }
}
